.form {
    margin: 20px;
}

.form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

h2 {
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 5px;
}

button {
    margin-top: 10px;
}