.navtabs {
    background: #343a40;
    height: 100px;
    text-align: right;
}

.navtabs a {
    color: #f8f9fa;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
}
